{% extends 'base.html' %}
{% block title %} Об авторе {% endblock %}
{% block content %}
<div class="container py-5">     
    <h1>Всем привет! Меня зовут Раиль :)</h1> 
    <article>
<h4> <a href = "https://github.com/Talgatovich"> Мой гит </a> <br>
Ссылку на резюме выложу чуть позже :) <br> </h4>

<h4>Как я докатился до жизни такой? Сейчас расскажу :D <br>
Со школьных времен я хотел стать программистом. Поступил в университет на факультет связанный с программированием ииии....
на третьем курсе мы узнали, что будем (!)метрологами :D <br>
Решил я, что не судьба мне стать программистом и плыл по течению, работал на заводах. 
И вот мне 30 лет, и засела в голове мысль начать учиться программированию самостоятельно. 
Учился потихоньку и наткнулся на курс от Яндекса. Поступил. И вот теперь сижу и в любое свободное время учусь, учусь, учусь. <br>

В данный момент сижу на работе и создаю эту страничку
</h4>
    </article>

{% endblock %}