{% extends 'base.html' %}
{% load thumbnail %}



{% block title %}    
Лента подписок
{% endblock %}

  
  {% block content %}  
    <!-- класс py-5 создает отступы сверху и снизу блока -->
    <div class="container py-5">
      {% include 'posts/includes/switcher.html' %}             
      <h1>Лента подписок</h1> <br>
      <article>      
        {% include 'posts/includes/post_list.html' %}
        {% include 'posts/includes/paginator.html' %}        
      </article>  
      <!-- под последним постом нет линии -->
    </div> 
  
  {% endblock %} 
    