{% extends 'base.html' %}
{% load thumbnail %}


{% block title %}  
{{post.text|truncatechars:30 }} 
{% endblock %}

{% block content %}
<div class="row container py-5" >
  <aside class="col-12 col-md-3 ">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">    
        Дата публикации: {{ post.pub_date|date:"d E Y" }}  
      </li>
      {% if post.group.slug %}
      <li class="list-group-item">
      Группа  {{ post.group.title }} <br>
      <a href = "{% url 'posts:group_list' post.group.slug %}"> все записи группы </a>
      {% endif %}
      </li>
      <li class="list-group-item">
        Автор: {{ post.author.get_full_name }}
      </li>        
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Всего постов автора: {{ post_count }}
      </li>
      <li class="list-group-item">
        <a href="{% url 'posts:profile' author.username %}">
          все посты пользователя 
        </a>
      </li>
    </ul>
  </aside>  
  <article class="col-12 col-md-9 container py-5">  
    {% thumbnail post.image "960x650" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}     
    <p> {{ post.text }} </p> <br>
    {% if post.author == request.user %}
      <form action="{% url 'posts:post_edit' post.id %}">
        <button class="btn btn-primary">        
        Редактировать запись         
        </button>  
      </form>      
    {% endif %}
    <!-- Форма добавления комментария -->  
    {% include 'posts/includes/comments.html' %}
  </article>  
</div>

{% endblock %}